@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wght@300&family=Shadows+Into+Light&display=swap');



*{
	box-sizing: border-box;
	font-family: sans-serif;
    margin:0;
    padding:0
}

body{
    
    margin:0;
	padding:0;
	background-color: white;
	margin-bottom: 5%;
	min-height: 400px;


}

/* header section starts */
li, a , button {
	font-family: sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
	color: white;
	text-decoration: none;
	list-style-type: none;
	

}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 2px lightgrey;
	background-color: #990033;
	color:white;
	height:140px;
	margin-bottom: 3%;
	
	
	
	
}




.nav-link{
	list-style: none;
	
}

.nav-link li {
	display: inline-block;
	margin: 1em;
}

.nav-link li a {
	transition: all 0.8s ease 0s;
	padding: 1em;
    
}

.nav-link li a:hover {
	
	border-radius: 50%;

	color:black;
	background-color: white;

}

.nav-link li a:focus{
    color:black;
	background-color: white;
    border-radius: 50%;
}

h1{
    font-size:7rem;
	font-weight: bolder;
    font-family: 'Shadows Into Light', cursive;
	letter-spacing: .08em;
	text-shadow: 8px 5px 0px #770011;
	margin-left:4%;
	
}


/* header section ends */

/* content */

h2{
	font-family: 'Shadows Into Light', cursive;
	font-size: 3.5rem;
}

p{
	text-indent: 5rem;
	font-family: 'Noto Sans Ethiopic', sans-serif;
	font-size: 1.5rem;
	line-height: 1.8em;
	word-spacing: 0.3em;
	margin-bottom:1.2em;

}



/* footer begins */

footer {
	display:flex;
	background-color: #990033;
	color:white;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5vh;
	width: 100%;
	border-top: 2px solid lightgray;
	justify-content:center;
	align-items:center;
	
	 
	
	}
	 
	 .phone , .address , .copyright {
	   
	   font-size: .8rem;
	margin:auto;
	 }
	 
	 .copyright{
		font-size: 1.05rem;
	 }
	 

	 main{
		width: 60%;
		margin: 0 auto;
	 }

	 @media screen and (max-width:800px){
		main{
			width:100%;
		}
		
	 }

